<header role="banner">
    <div>
        <h2>Display Credit cards</h2>

    </div>
</header>

<article role="main" class="page-level-padding">
    <div id="cc1" class="outside-label-box">
        <p> Credit Card 1</p>
        <p>xxxxxxxxxxxxx1234</p>
        <p>Gap Visa Card</p>
        <p>01/2017</p>
    </div>

    <div id="cc2" class="outside-label-box">
        <p> Credit Card 2</p>
        <p>xxxxxxxxxxxxx4567</p>
        <p>BR Visa Card</p>
        <p>01/2017</p>
    </div>

    <span>
        <a id="backButton" class="standard-button-2" ng-click="cancel()">
           Cancel
        </a>
        <button id="continueButton" class="standard-button-3"
                ng-click="exitApp()">Continue
        </button>
    </span>
</article>
